@media -o-paged {
	html {
		padding: 0;
		margin: 0;
		height: 100%;
		box-sizing: border-box;
		overflow: -o-paged-x;
	}
	
	#frontpage{
		height:100%;
	}

	#end {
		column-span: -o-integer(2);
		width: 100%;
		text-align: center;
	}
}

audio {
	display: block;
	width: 100%;
}

@font-face {
 font-family: Triforce;
 src: url("Triforce.ttf");
}

body {
	margin: 0;
	padding: 0;
	background: #eaeaea;
	font-family: PT Serif, Verdana;
}

#artice_aside {
	position: relative;
	float:left;
}

#article_text{
	position:relative;
	padding: 2em;
}

#content {
	columns: 18em;
}

#frontpage{
	position: relative;
	height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
	
	background: url(img/bg.gif) no-repeat center center;
	image-rendering: -o-crisp-edges;
	image-rendering: optimizeSpeed;
	image-rendering: -webkit-optimize-contrast;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	
}

#frontpage img{
	width: 100%;
	height:100%;
}


#headline h1,h2 {
	color: white;
	font-weight: bolder;
	font-family: Triforce;
	margin: 0; padding: 0;
}

#headline h1{
	font-size: 52px;
}

#headline h2{
	
}

#headline{
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
}

#audiocontainer {
	padding: 2px;
	border: 1px solid #ccc;
	background: white;
	text-align: center;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

p+p {
	text-indent: 3em;
}

figure.slideshow {
	height: 233px;
	width: 260px;
	padding:0; margin: 1em;
	border: 1px solid #ccc;
	background: white;
	box-shadow: 2px 2px 3px #ccc;
}

figure.slideshow img {
	position: absolute;
	padding: 0;
	margin: 2px;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	transition: opacity 1s;
	opacity: 0;
}

figure.slideshow img.visible {
	opacity: 1;
}
