@-o-navigation
{
	nav-up: -o-link-rel(home);
}

@media -o-paged {
	html {
		height: 100%;
		padding: 1em;
		height: 100%;
		box-sizing: border-box;
	}
	
	header.article {
		float: -o-top-corner;
		column-span: all;
		text-align: left;
	}
	
	article {
		position: absolute;
		top: 3em; bottom: 0;
		left: 0; right: 0;
		padding: 0 2em;
		overflow: -o-paged-x-controls;
		columns: 16em;
		text-align: justify;
	}
	
	footer {
		height: 2em;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		border-style: solid;
		border-width: 1px;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		overflow: hidden;
	}
	
	header.top {
		height: 2em;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: pink;
	}
	
	figure {
		float: -o-top-corner;
		margin: 2em;
		background: #fff;
	}
	
	#beer{
		float: -o-bottom-corner;
	}
	
	.video{
		column-span: -o-integer(2);
	}
	
	.bannerad {
		column-span: -o-integer(3);
		float: -o-bottom-next-page;
	}
	
	#graph{
		column-span: -o-integer(2);
		float: -o-top-next-page;
	}
	
	body{
		overflow: hidden;
	}
	
}

body
{
	background: #eaeaea;
}

#headmedia
{
	position: relative;
	border: solid;
	border-color: #ccc;
	border-width: 1px;
	padding: 0.3em;
}

#headmedia img
{
	max-width: 100%;
}



.footnote {
	font-style: italic;
	color: #A9A9A9;
}

.FootnoteCounter{
	font-size: small;
	color: #0000FF;
	vertical-align: top;
}

footer p{
	font-style: italic;
}

h1{
	font-family: 'Terminal Dosis', sans-serif;
	font-size: 300%;
	text-transform: uppercase;
}

h2{
	font-family: 'PT Sans Caption', sans-serif;
}

figure p{
	font-family: 'Muli', sans-serif;
	font-size: 90%;
	text-align: center;
}

img {
	width: 100%;
}

#beer{
	margin: 1em;
	padding: 1em;
}

.bannerad{
	max-height: 100%;
	max-width: 100%;
	margin: 0;
}

.video{
	padding-left: 1em;
	padding-bottom: 1em;
	background-color: #C0C0C0;
	max-width:470px;
}

video{
}

h1{
}

h2{
	padding-top: 0.5em;
	break-after: avoid;
	margin-bottom: 0.5em;
}

p{
	font-family: "Times", serif;
	font-size: 120%;
	margin-top: 0.5em;
}


html{
	height: 99%;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#test{
	position: absolute;
	left: 180px;
	top: 450px;
}

#cola{
	width: 100%;
	height: 500px;
	border-style: solid;
	border-width: 1px;
}

#timer{
	position: absolute;
	left: 190px;
	top: 140px;
}

#timer p{
	color: white;
	font-size: 500%;
	font-family: monospace;
}

#container{
	height:95%;
	width:100%;
	margin:0;
	padding:0;
}


#emptybutton{
	float: left;
	width: 48%;
}

#resetbutton{
	float: right;
	width:48%;
}



#footnoteContainer{
	padding-left: 1em;
	float: left;
}

#counter{
	padding-right: 1em;
	float: right;
}

#progressbar{
	height: 80%;
	width: 100%;
}

#popin{
	height: 32px;
	width: 20%;
	position: absolute;
	bottom: -32px;
	left: 16em;
	background-color: white;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

#popin.fadeIn{
	-o-transform: translate(0, -32px);
}


#headmediaProperties{
	position: absolute;
	left: -1px; bottom: -1px; /* Bypassing the border */
	background-color: #222222;
	opacity: 0;
	margin: 0;
	padding: 0.3em;
	width: 100%;
	
	-webkit-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
}
#headmediaProperties.visible
{
	opacity: 0.9;
}

#headmediaProperties p, a
{
	color: white;
	padding:0;
	margin:0;
}